@charset "UTF-8";
@import url(standard.css);
/* CSS Document */
#wrapper{
	max-width:1280px;
	margin:0px auto 0px auto;
	font-family: 'BebasNeuebold';
	
}
body {
	background-color: #141414;
	background-image: url(en_background.jpg);
	background-size: 100%;
    background-repeat: no-repeat;
}
/*----- navigation bar -----*/
.space {
	/*padding-left: 233px;*/
}
nav
{   
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
	background-color:#000;
}
nav ul{
list-style:none;
}
nav a{
text-decoration:none;
}
nav li{
float:left;
width:16.666%;
padding:1%;
transition: 0.2s linear;
}
nav li:hover{
	font-size: 1.2em;
}
nav a:hover {
  font-style: bold;
  background-color: #000;
  color: rgb(255, 255, 255);
}
a{
	color: #fff;
	text-decoration: none;
}
#navbar {
  position: fixed;
	top: 0px;
	left: 0px;
	width:100%;/* R */
	z-index:3;/* R */
}

#navbar li{  /* R */
	float:left;
	width:6%;
	padding:1%;
	transition: 0.2s linear;
}
#navbar li a img{
	width: 100%;
}
/*------header------*/
#h1_1 {
	position: absolute;
	top: 2%;
	margin-top: 10rem;
	margin-left: .5rem;
	color: #fff;
	font-size: 10em;
	transition: 0.2s linear;
}
#h1_1:hover{
	margin-top: 1em;
	font-size: 10.2em;
}
#p1 {
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
	margin-top: 25em;
	position: relative;
	color: #fff;
	font-size: 1em;
}
#p2 {
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
	margin-top: 5em;
	margin-left: 40%;
	color: #fff;
	font-size: 3em;
}
#p3 {
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
	margin-top: .2em;
	margin-left: 41%;
	color: #fff;
	font-size: 2em;
	position: relative;
}
p {
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
	color: #fff;
}
.text1 {
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
}
h2 {
	color: #fff;
	margin-left: 1%;
}
.logo {
	width: 20%;
	position: absolute;
	left: 67%;
	top: 20%;
	opacity: .5;
	transition: 0.3s linear;
}
.logo:hover {
	width: 25%;
}
/*properties for arrow*/
.arrow {
	width: 100px;
	margin-top: 90px;
	margin-bottom: 200px;
	position: absolute;
	top: 80%;
	left: 50%;
}
/*plakat*/
button {
	margin-top: 1em;
	margin-left: 2%;
	text-decoration: none;
	border: solid .5px #fff;
	width: 90px;
	height: 30px;
	background-color: #000;
	color: #fff;
	font-family: 'Ovo', serif;
	outline: none;
}
button:active {
outline: none;
border: none;
}
button:hover {
background-color: #292727;
}
.poster {
	/*width: 650px;
	margin-left: 10%;*/
}
.text1 {
	width: 90%;
}
.divbox1 {
	margin-top: 50rem;
}
#ekstra {
	display: none;
}
#readmore {
	cursor: pointer;
}
/*galleri*/
.h2_2 {
	margin-top: 15rem;
	margin-left: 180px;
}
#pil_left, #pil_right{
	width:14%;
	float:left;
	margin-top:20%;
	cursor:pointer;
}
#pil_left{
	text-align:right;
}
/*#pile{
	text-align:center;
	margin-top:1em;
}
#pile img{
	width: 100px;
	padding:1em;
	cursor:pointer;
}*/
.foto{
	/*position: relative;*/
	width:72%;
	float:left;
	/*margin:20px auto;*/	
}
/*.foto img{
	width:100%;
	height:auto;
}*/
#placeholder {
	border:1px solid #FFF; 
}
.right {
	width:120px;
	height:auto;
/*	position: absolute;
	right: 10%;
	top: 280%;*/
}
.left {
	width:120px;
	height:auto;
/*	position: absolute;
	left: 10%;
	top: 280%;*/
}
/*---trailer----*/
img, video{
	width:100%;
	height:auto;		
}
video {
	margin-bottom: 10rem;
}
.h2_3 {
	margin-top: 15rem;
	margin-left: 10px;
}
/*-----foooter----*/
.top {
	padding-top: 30rem;
	color: #fff;
	text-align: center;
}
footer {
	margin-top: 15rem;
	/*padding: 10rem 65px 50px 65px;*/
	background-color: #242323;
	/*height: 420px;*/
	position: relative;
}
#footerDiv{
	max-width:1280px;
	margin:0 auto;
}
h3 {
	color: #DAD3D3;
	font-family: 'Cinzel', serif;
	margin-left: 7px;
}

.next {
	margin-top: 1em;
	width: 150px;
	margin-left: 10px;
	cursor: pointer;
}
.fb, .fb2 {
	margin-top: 1em;
	width: 60px;
	cursor: pointer;
}
.insta {
	width: 46px;
	margin-bottom: .4em;
	margin-left: 7px;
	cursor: pointer;
}
.logo2 {
	position: absolute;
	bottom: 50%;
	left: 45%;
	opacity: .5;
	width:10%;
}
.cr {
	width: 20px;
}
.crtext {
	border-top: solid 1px #484646;
	padding: 6px;
	margin-top: 1rem;
	color: #fff;
}
.burger {
		display: none;
}

/*TABLET MAAAAAAAN*/
@media screen and (max-width:768px){
    [class*="col"] {
        float:none;
        width:98%;
        margin:0 auto;
		padding: 0 auto;
	}
	.arrow {
		top: 57%;
		left: 45%;
	}
	#p2 {
		display: none;
	}
	.divbox1{
		margin-top: 10em;
	}
		/*FOOTER*/
h3 {
    display: none;
}

.next {
	margin-top: 1em;
	width: 150px;
	margin-left: 45%;
	cursor: pointer;
}
.fb {
	margin-top: 1em;
	width: 60px;
	cursor: pointer;
	margin-left: 37%;
}
.fb2 {
	margin-top: 1em;
	width: 60px;
	cursor: pointer;
	margin-left: 0%;
}
.insta {
	width: 46px;
	margin-bottom: .4em;
	margin-left: 7px;
	cursor: pointer;
}
.logo2 {
	position: absolute;
	bottom: 40%;
	left: 33%;
	opacity: .5;
	width:30%;
}
.cr {
	width: 20px;
}
	footer p {
		display: none;
	}
.crtext {
	display: none;
}
}
/*------mobil version-----*/
@media screen and (max-width:425px){
    [class*="col"] {
        float:none;
        width:98%;
        margin:0 auto;
		padding: 0 auto;
    }
	body {
		background-color: #000;
		background-image: url(en_background.jpg);
		background-size: 100% auto;
		background-repeat: no-repeat;
	}
	#wrapper{
		width: 98%;
		margin:0 auto;
	}
	.burger{
			display: block;
		}
	h2 {
		font-size: 4em;
		margin-left: 20%;
		}
	p {
		font-size: 1em;	
		}
	#p1 {
		 display: none;
	}
	#p2 {
		display: block;
		font-family: 'Cinzel', serif;
		margin-top: 11em;
		margin-left: 14%;
		color: #fff;
		width: 80%;
		font-size: 1em;
	}
	#p3 {
		font-family: 'Cinzel', serif;
		margin-top: .2em;
		margin-left: 10%;
		width: 80%;
		color: #fff;
		font-size: 1.3em;
		position: relative;
	}
	.logo {
		width: 50%;
		position: absolute;
		left: 35%;
        top: 2%;
		opacity: .5;
		transition: 0.3s linear;
	}

	#pil_left img, #pil_right img{
		width: 100%;
	}
	.arrow {
		width: 30%;
		margin-top: 8%;
		position: absolute;
		margin-bottom: 0%;
		left: 35%;
		top: 40%;
		}
	.poster {
		margin-bottom: 7em;
		width: 87%;
		margin: 2px;
	}
	.divbox1 {
		margin-top: 10em;
		margin-left: 12%;
	}
	button {
		margin-top: 1em;
		margin-left: 60%;
		text-decoration: none;
		border: solid .5px #fff;
		width: 90px;
		height: 30px;
		background-color: #000;
		color: #fff;
		font-family: 'Ovo', serif;
		outline: none;
	}
	.h2_2 {
		margin-top: 2rem;
		margin-left: 10%;
		color: #fff;
		font-size: 4em;
		transition: 0.2s linear;
	}
	.h2_3 {
		margin-top: 5rem;
		margin-left: 10%;
		color: #fff;
		font-size: 4em;
		transition: 0.2s linear;
	}

	#h1_1 {
		position: absolute;
		top: 2%;
		margin-top: 5rem;
		margin-left: 6%;
		color: #fff;
		font-size: 4em;
		transition: 0.2s linear;
	}
	
	.aroundbox1 {
			display: none;
	}
	/*GALLERI*/

	#pile{
	/*	text-align:center;*/
		margin-top:1em;
	}
	#pile img{
		/*width: 50%;*/
		padding:1em;
		cursor:pointer;
	}
	.foto{
		position: relative;
		/*max-width:90%;*/
		max-width:98%;  /* R */
		margin:0px auto;	
	}
	.foto img{
		/*width:90%;*/
		height:auto;
	}
	#placeholder {
		border:1px solid #FFF; 
	}
	.right {
		/*position: absolute;
		right: 10%;
		top: 250%;*/
		width:40%;
	}
	.left {
		/*position: absolute;
		left: 2%;
		top: 250%;*/
		width:40%;
	}
	/*NAAAAAAAAAAAAAAV*/
	a
	{
	  text-decoration: none;
	  color: #232323;

	  transition: color 0.3s ease;
	}

	a:hover
	{
	  color: tomato;
	}

	#menuToggle
	{
	  display: block;
	  position: relative;
	  top: 50px;
	  /*left: 50px;*/

	  z-index: 1;

	  -webkit-user-select: none;
	  user-select: none;
	}

	#menuToggle input
	{
	  display: block;
	  width: 40px;
	  height: 32px;
	  position: absolute;
	  top: -7px;
	  left: -5px;

	  cursor: pointer;

	  opacity: 0; /* gem */
	  z-index: 2; /* kommer ovenpå hamburgeren */

	  -webkit-touch-callout: none;
	}


	/*
	 * -------------------------hamburger--------------------------
	 */
	#menuToggle span
	{
	  display: block;
	  width: 33px;
	  height: 4px;
	  margin-bottom: 5px;
	  position: relative;

	  background: #cdcdcd;

	  border-radius: 3px;

	  z-index: 1;

	  transform-origin: 4px 0px;

	  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
				  background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
				  opacity 0.55s ease;
	}

	#menuToggle span:first-child
	{
	  transform-origin: 0% 0%;
	}

	#menuToggle span:nth-last-child(2)
	{
	  transform-origin: 0% 100%;
	}

	/* 
	 * Transform all the slices of hamburger
	 * into a crossmark.
	 */
	#menuToggle input:checked ~ span
	{
	  opacity: 1;
	  transform: rotate(45deg) translate(-2px, -1px);
	  background: #232323;
	}

	/*
	 * vi gemmer den i midten.
	 */
	#menuToggle input:checked ~ span:nth-last-child(3)
	{
	  opacity: 0;
	  transform: rotate(0deg) scale(0.2, 0.2);
	}

	/*
	 * sidst den modsatte vej
	 */
	#menuToggle input:checked ~ span:nth-last-child(2)
	{
	  transform: rotate(-45deg) translate(0, -1px);
	}

	/*
	 * abselute position
	 * venstre hjørne
	 */
	#menu
	{
	  position: absolute;
	  width: 300px;
	  margin: -100px 0 0 -50px;
	  padding: 50px;
	  padding-top: 125px;

	  background: #ededed;
	  list-style-type: none;
	  -webkit-font-smoothing: antialiased;
	  /* to stop flickering of text in safari */

	  transform-origin: 0% 0%;
	  transform: translate(-100%, 0);

	  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
	}

	#menu li
	{
		width: 100%;
		height: 100%;
		float: right;
		margin: 0;
	   padding: 10px 0 0 50px;
	   font-size: 22px;

	}

	/*
	 * den kommer ind fra venstra
	 */
	#menuToggle input:checked ~ ul
	{
	  transform: none;
	}
	
	/*FOOTER*/
h3 {
    display: none;
}

.next {
	margin-top: 1em;
	width: 150px;
	margin-left: 37%;
	cursor: pointer;
}
.fb {
	margin-top: 1em;
	width: 60px;
	cursor: pointer;
	margin-left: 30%;
}
.fb2 {
	margin-top: 1em;
	width: 60px;
	cursor: pointer;
	margin-left: 0%;
}
.insta {
	width: 46px;
	margin-bottom: .4em;
	margin-left: 7px;
	cursor: pointer;
}
.logo2 {
	position: absolute;
	bottom: 50%;
	left: 40%;
	opacity: .5;
	width:30%;
}
.cr {
	width: 20px;
}
	footer p {
		display: none;
	}
.crtext {
	display: none;
}
}